body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.display {
  overflow-x: scroll !important;
  width: 95%;
  height: 60px;
  font-size: 4em;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 5px;
  overflow: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 100%;
  height: 60px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #555;
}

button:hover {
  background-color: #666;
}

.operator {
    border: 1px solid #007bff;
    font-size: 2rem;
}

.operator:hover {
  background-color: #0057b369;
}

.clear {
    border: 1px solid #FF5733;
}

.clear:hover {
    background-color: #ff58337e;
}

.equals {
    border: 1px solid #01ffb3;
}

.equals:hover {
    background-color: #01ffb38c;
}
